.services{
    padding: 70px;
}

.services h1{
    margin-bottom: 60px;
    font-weight: 700;
    color: var(--blue)
}

.services p{
    display: inline-block;
    color: white;
    font-size: 30px;
    text-align: left;
    margin-left: 20px;
}

.home-clean{
    min-height: 200px;
    background-image: url('../assets/home_clean.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.maid-service{
    min-height: 200px;
    background-image: url('../assets/maid_service.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.window-washing{
    min-height: 200px;
    background-image: url('../assets/window_clean.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.commercial-clean{
    min-height: 200px;
    background-image: url('../assets/commercial_clean.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.move-in-clean{
    min-height: 200px;
    background-image: url('../assets/move_in_clean.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carpet-clean{
    min-height: 200px;
    background-image: url('../assets/carpet_clean.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}